@page "/"
@using blazorapp.RestApi.Models;
@inject RestApi.ApiClient Client

<PageTitle>Task List</PageTitle>

<p>This component demonstrates fetching data from the server.</p>

@if (tasks is null || states is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TaskList ApiClient="@Client" Tasks="@tasks" States="@states"></TaskList>
    <AddTask ApiClient="@Client" States="@states" OnTaskAdded="@OnTaskAdded"></AddTask>
}

@code {

    private IList<TasksItem>? tasks;
    private IList<TaskStateEnum>? states;
    protected override async Task OnInitializedAsync()
    {
        tasks = await Client.TaskAllAsync();
        states = await Client.TaskStateEnumAsync();
    }

    private void OnTaskAdded(TasksItem tasksItem)
    {
        tasks.Add(tasksItem);
        StateHasChanged();
    }
}
